{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please Edit your comment here:</legend>
                    <h2>Please know that any edit you make will not be reversible. {{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Edit</button>
                <a class="btn btn-outline-primary" href="{% url 'home' %}">Home</a> 
            </div>
        </form>
    </div>
{% endblock content %}