{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Comment</legend>
                    <h2>Edit comment {{ object.title }}</h2>
            </fieldset>
            <div class="form-group">
                <button type="submit">Edit</button>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Home</a> 
            </div>
        </form>
    </div>
{% endblock content %}